*pretest
*~
*.pyc
*.pt
*.pkl
.idea/
out/
*.pth
*.pt
data/cnndata/test.json
data/cnndata/train.json
data/cnndata/validation.json
models/gpt2_custom_cnn.pthdata/cnndata/train.json
data/cnndata/validation.json
models/gpt2_custom_cnn.pth
